#boxCategorias:hover div h3 {
  transition: all .3s;
  color: #083558
}

#boxCategorias:focus div h3 {
  color: #083558;
}

#boxCategorias:focus div svg {
  fill: #083558;
}

#boxCategorias:hover div svg {
  transition: all .3s;
  fill: #083558
}

#bgExit {
  background: rgba(42, 42, 42, 0.712);
  color: #fdfdfd;
}

@media screen and (max-width: 555px) {
  .carosel {
    max-width: 384px;
  }
}

